@model ServerCorePages.DevPortalModel

<!DOCTYPE html>
<html>
<head>
    <title>EIC&ESB Online Developer Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="charset" content="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Libor Svoboda">
    <meta name="description" content="EasyITCenter">
    <meta name="keywords" content="System, Backend, API, EASY-DATA-Center, EASY-SYSTEM-Builder, Application, Server, IT, Solution, Help, HowTo, Javascript, HTML5, UI, Library, Web, Development, Framework">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    

    @* <script type="text/javascript" src="../../metro/jquery/js/jquery-3.6.0.min.js"></script> *@
    @* <script src="~/ServerCoreTools/editors/HtmlTinyMce/js/metro.min.4.5.2.js"></script>
    <script src="~/ServerCoreTools/editors/HtmlTinyMce/js/globalBehavior.js"></script>
    <script src="~/ServerCoreTools/editors/HtmlTinyMce/js/globalFunctions.js"></script>
    <script src="~/ServerCoreTools/editors/HtmlTinyMce/js/globalStorage.js"></script> *@

    <script type="text/javascript" href="~/server-integrated/dev-tools/inject-scripts/autotranslate/inject-autotranslate.js"></script>

</head>
    <body>
    <div class="d-block w-100 h-100">
        <main id="WebPageHTMLContent" role="main" class="w-100 h-100">
         @RenderBody()
        </main>
    </div>
    </body>
</html>

