@* @addTagHelper *, WebOptimizer.Core *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore
@addTagHelper *, Westwind.AspNetCore.Markdown

@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.RazorPages

@using Westwind.AspNetCore.Markdown

@using System.IO
@using System.Linq
@using System.Collections.Generic
@using System.Text.RegularExpressions
@using System.Security.Claims
@using System.Threading.Tasks

@using EasyITCenter
@using ServerCorePages
@using ServerCorePages
@using EasyITCenter.WebControllers
@using EasyITCenter.ServerCoreStructure

@namespace ServerCorePages

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EIC&ESB Developer Portal</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="/server-Integrated/razor-pages/RazorTemplate/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/server-Integrated/razor-pages/RazorTemplate/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/server-Integrated/razor-pages/RazorTemplate/ionicons/css/ionicons.min.css">
    @RenderSection("Styles", required: false)
    <link rel="stylesheet" href="/server-Integrated/razor-pages/RazorTemplate/admin-lte/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/server-Integrated/razor-pages/RazorTemplate/admin-lte/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/server-Integrated/razor-pages/RazorTemplate/icheck/skins/square/blue.css">
    <link rel="stylesheet" href="/server-Integrated/razor-pages/RazorTemplate/google.css">
    <link rel="stylesheet" href="/server-Integrated/razor-pages/RazorTemplate/css/site.css" />
   
</head>
<body class="hold-transition login-page" style="height: auto;">
    <div class="wrapper">

        @await Html.PartialAsync("~/ServerCorePages/RazorTemplate/Partial/_Header.cshtml")
        @await Html.PartialAsync("~/ServerCorePages/RazorTemplate/Partial/_NavBar.cshtml")

        <div class="content-wrapper">

            @await Html.PartialAsync("~/ServerCorePages/RazorTemplate/Partial/_StatusMessage.cshtml", TempData["StatusMessage"])
            @RenderBody()
        </div>
        @await Html.PartialAsync("~/ServerCorePages/RazorTemplate/Partial/_Footer.cshtml")
        @await Html.PartialAsync("~/ServerCorePages/RazorTemplate/Partial/_SideBar.cshtml")
    </div>

</body>
<script src="/server-Integrated/razor-pages/RazorTemplate/jquery/jquery.min.js"></script>
<script src="/server-Integrated/razor-pages/RazorTemplate/bootstrap/js/bootstrap.min.js"></script>
<script src="/server-Integrated/razor-pages/RazorTemplate/icheck/icheck.min.js"></script>
<script src="/server-Integrated/razor-pages/RazorTemplate/html5shiv.min.js"></script>
<script src="/server-Integrated/razor-pages/RazorTemplate/respond.min.js"></script>

@RenderSection("Scripts", required: false)

<script src="/server-Integrated/razor-pages/RazorTemplate/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="/server-Integrated/razor-pages/RazorTemplate/fastclick/fastclick.min.js"></script>
<script src="/server-Integrated/razor-pages/RazorTemplate/admin-lte/js/adminlte.min.js"></script>
<script src="/server-Integrated/razor-pages/RazorTemplate/admin-lte/js/demo.js"></script>
<script src="/server-Integrated/razor-pages/RazorTemplate/js/site.js"></script>

<script>
    $(document).ready(function () {
        $('.sidebar-menu').tree();
    });

    // $(function () {
    //     $('input').iCheck({
    //         checkboxClass: 'icheckbox_square-blue',
    //         radioClass: 'iradio_square-blue',
    //         increaseArea: '20%' /* optional */
    //     });
    // });
</script>
@await Html.PartialAsync("~/ServerCorePages/RazorTemplate/Partial/_ValidationScriptsPartial.cshtml")
</html>

