@* @addTagHelper *, WebOptimizer.Core *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore
@addTagHelper *, Westwind.AspNetCore.Markdown

@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.RazorPages

@using Westwind.AspNetCore.Markdown

@using System.IO
@using System.Linq
@using System.Collections
@using System.Collections.Generic
@using System.Text.RegularExpressions
@using System.Security.Claims
@using System.Threading.Tasks

@using EasyITCenter
@using EasyITCenter.DBModel
@using EasyITCenter.Managers
@using EasyITCenter.WebClasses
@using EasyITCenter.WebControllers
@using EasyITCenter.ServerCoreStructure
@using EasyITCenter.ServerCorePages

@namespace ServerCorePages
@model ServerCorePages.ServerPortalModel

<!DOCTYPE html>
<html  lang="en" class=" scrollbar-type-1 sb-cyan">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"" />
    <meta name="charset" content="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Libor Svoboda">
    <meta name="description" content="EasyITCenter">
    <meta name="keywords" content="System, Backend, API, EASY-DATA-Center, EASY-SYSTEM-Builder, Application, Server, IT, Solution, Help, HowTo, Javascript, HTML5, UI, Library, Web, Development, Framework">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <title>EIC&ESB Server Portal</title>

    <link rel="stylesheet" href="/server-portal/metro/css/metro-all.min.css" />
    <link rel="stylesheet" href="/server-portal/manage/css/global.css" />
    <style>
        .qxCTlb {
                position: fixed !important;
                top: 40px !important;
                z-index: 1000 !important;
                width: 280px !important;
                background-color: rgb(193 141 46) !important;
                top: 52px !important;
        }

        body {
            background-color: #ECF0F5;
            top: 0px !important;
        }

    </style>

    <script type="text/javascript" src="/server-portal/AddOns/jquery/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/server-portal/metro/js/metro.min.js"></script>
    <script type="text/javascript" src="/server-portal/manage/js/global-behavior.js"></script>
    <script type="text/javascript" src="/server-portal/manage/js/global-storage.js"></script>
    <script type="text/javascript" src="/server-portal/manage/js/global-object.js"></script>
    <script type="text/javascript" src="/server-portal/manage/js/global-functions.js"></script>
    <script type="text/javascript" src="/server-portal/manage/js/global-api.js"></script>
    <script type="text/javascript" src="/server-portal/manage/js/js.cookie.min.js"></script>
    <script type="text/javascript" src="/server-portal/manage/js/jspdf.js"></script>
    <script type="text/javascript" src="/server-portal/manage/js/json-to-table.js"></script>

     @* Google Translation *@
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>

<body class="m4-cloak h-vh-100">
<div data-role="navview" data-toggle="#paneToggle" data-expand="xl" data-compact="lg" data-active-state="true">
    <div class="navview-pane">
        <div class="bg-cyan d-flex flex-align-center">
            <button class="pull-button m-0 bg-darkCyan-hover">
                <span class="mif-menu fg-white"></span>
            </button>
            <h2 class="c-pointer text-light m-0 fg-white pl-1" style="line-height: 52px" data-role="hint" data-cls-hint="bg-github fg-white drop-shadow" data-hint-position="right" data-hint-text="EasyIT-Server & EasySYSTEM-Builder UNLIMITED IT Cloud Solution" >EIC&ESB Cloud</h2>
        </div>

      @*   <div class="suggest-box" style="min-height:30px !important;height: 30px !important;">
        </div> *@

@*         <div class="suggest-box">
            <input type="text" data-role="input" data-clear-button="false" data-search-button="true">
            <button class="holder">
                <span class="mif-search fg-white"></span>
            </button>
        </div> *@


            @await Html.PartialAsync("~/ServerCorePages/ServerPortal/_Partial/_LeftMenu.cshtml")

        <div class="w-100 text-center text-small data-box p-2 border-top bd-grayMouse" style="position: absolute; bottom: 0;min-height:30px !important;height:30px !important">
        </div>

    </div>


    <div class="navview-content h-100">
            @await Html.PartialAsync("~/ServerCorePages/ServerPortal/_Partial/_HeaderMenu.cshtml")
        
            @RenderBody()
         
            @await Html.PartialAsync("~/ServerCorePages/ServerPortal/_Partial/_Modal.cshtml")
    </div>
</div>

   @* <div class="pos-absolute d-flex text-center" style="bottom:10px;width:100%;left:10px;">
        <a class="button m-1 text-bold bg-lightblue c-pointer shadowed" onclick=OpenCharm(0)>Zavřít Nástroje</a>
        <a class="button m-1 text-bold bg-lightblue c-pointer shadowed" onclick=ShowMessagePanel()>Poslat Zprávu</a>
        <a class="button m-1 text-bold bg-lightblue c-pointer shadowed" onclick=DownloadFrameHtmlElement();>Stáhni si Html</a>
        <a class="button m-1 text-bold bg-lightblue c-pointer shadowed" onclick=ShowFrameSource();>Zobraz si Kód</a>
        <a class="button m-1 text-bold bg-lightblue c-pointer shadowed" onclick=ChangeSource('./Downloads/');>Mrkni do DovnLoad</a>
        <a class="button m-1 text-bold bg-lightblue c-pointer shadowed" onclick=GetNewsList();>Zobrazit Novinky</a>
        <a class="button m-1 text-bold bg-lightblue c-pointer shadowed" onclick=ChangeSource('./server-provider/AwesomeCode/AwesomeJS/projects.html');>Dá se Cokoliv a Snadno</a>
        <a class="button m-1 text-bold bg-lightblue c-pointer shadowed" onclick=window.open("https://calendar.app.google/7GtS8wkYG9HoUVAB7");>Rezervace Schůzky</a>
 *@


     <div class="bottom-nav pos-fixed" style="bottom:0px !important; min-height: 30px; height: 39px;max-height: 30px;position: static;">
         
            <button class="button">
                <span class="icon mif-plus"></span>
                <span class="label">Add</span>
            </button>
            <button class="button">
                <span class="icon mif-favorite"></span>
                <span class="label">Favorites</span>
            </button>
            <button class="button">
                <span class="icon mif-search"></span>
                <span class="label">Search</span>
            </button>
       
    </div>
</body>
<script type="text/javascript" src="/server-portal/AddOns/chartjs/Chart.bundle.min.js"></script>
<script type="text/javascript" src="/server-portal/AddOns/qrcode/qrcode.min.js"></script>
<script type="text/javascript" src="/server-portal/AddOns/jsbarcode/JsBarcode.all.min.js"></script>
<script type="text/javascript" src="/server-portal/AddOns/ckeditor/ckeditor.js"></script>


<!-- Google Calendar Appointment Scheduling begin -->
<link href="https://calendar.google.com/calendar/scheduling-button-script.css" rel="stylesheet">
<script src="https://calendar.google.com/calendar/scheduling-button-script.js" async></script>
<script>
(function() { var target = document.currentScript;
  window.addEventListener('load', function() {
    calendar.schedulingButton.load({
      url: 'https://calendar.google.com/calendar/appointments/schedules/AcZssZ36J_NEP4KC5K1F1vlohKK-HuhtBvsphh4AGvjYNZgbz0ZYw39VxZ7Mb-7GghfAvUn7UHLi6XV3?gv=true',
      color: '#039BE5', label: 'Rezervovat si schůzku', target,
    }); });
})();
</script>
<!-- end Google Calendar Appointment Scheduling -->

<script>
    /*
    $(document).ready(function () {
        $('.sidebar-menu').tree()
    })
    */

   PortalStartup();
</script>
</html>
