@* AUTHORIZATION IS OVER SERVER MODULE MODEL *@
@model ServerCorePages.ToolViewerModel
<!DOCTYPE html>
<html lang="cs-CZ">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="charset" content="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="author" content="Libor Svoboda">
    <meta name="description" content="EasyITCenter">
    <meta name="keywords" content="System, Backend, API, EASY-DATA-Center, EASY-SYSTEM-Builder, Application, Server, IT, Solution, Help, HowTo, Javascript, HTML5, UI, Library, Web, Development, Framework">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <link href="~/server-integrated/server-modules/toolViewer/metro/metro.css" rel="stylesheet">
    <link href="~/server-integrated/server-modules/toolViewer/metro/icons.css" rel="stylesheet">
    <link href="~/server-integrated/server-modules/toolViewer/metro/global.css" rel="stylesheet">

    <script type="text/javascript" src="~/server-integrated/server-modules/toolViewer/metro/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="~/server-integrated/server-modules/toolViewer/metro/metro.js"></script>
    <script type="text/javascript" src="~/server-integrated/server-modules/toolViewer/metro/js.cookie.min.js"></script>
    
    <script type="text/javascript" src="~/server-integrated/server-modules/toolViewer/metro/global.js"></script>
    <script type="text/javascript" src="~/server-integrated/server-modules/toolViewer/metro/global-storage.js"></script>
    
    <script type="text/javascript" src="~/server-integrated/server-modules/toolViewer/metro/jquery.printElement.js"></script>
    <script type="text/javascript" src="~/server-integrated/server-modules/toolViewer/metro/jspdf.js"></script>

    <script type="text/javascript" src="~/server-integrated/server-modules/toolViewer/FileList/FileList.js"></script>

    <!-- Google Translation -->
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=GoogleTranslateElementInit"></script>
</head>
    <body class="cloak">
        <nav data-role="appbar" class="bg-cyan">
            <span class="app-bar-item header" style="font-size: 20px;">EIC&ESB Solution Browser</span>
            <div class="app-bar-item no-hover">
                <input type="checkbox" data-role="theme-switcher" data-state="dark"/>
@* 
                <button class="button warning shadowed ml-3 mr-3" onclick=ChangeView("integrated"); >Integrated Tools</button>
                <button class="button warning shadowed mr-3" onclick=ChangeView("awesome"); >AweSome Library</button>
 *@

            </div>
            <div class="d-inline-flow c-pointer text-right">
                <span class='mif-language mif-3x shadowed ani-hover-ripple ml-10 fg-white' title="Translate" onclick=ShowToolPanel(); ></span>
            </div>
        </nav>
        <div class="container-fluid m-0 p-0">
            @RenderBody()

          
        </div>
    </body>
</html>

