@inject EasyITCenter.Managers.UserProfileManager UserProfileManager

@using EasyITCenter;
@using EasyITCenter.ServerCoreStructure;
@using ServerCorePages;

<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>EIC Server Ver.</b> 
        @ServerRuntimeData.ServerVerion;
    </div>
    <strong>EIC & ESB Groupware & 1000+ apps 2008-2024 <a href="https://kliknetezde.cz/RazorTemplate">ONLINE Developer Studio</a>.</strong> 1000+ Websites, Apps, Technologies are Ready for Using by SIMPLE COPY.
</footer>
