@inject EasyITCenter.Managers.UserProfileManager UserProfileManager

@using EasyITCenter;
@using EasyITCenter.ServerCoreStructure;
@using ServerCorePages;

<header class="main-header">
    <a href="/server-Integrated/razor-pages/RazorTemplate/" class="logo">
        <span class="logo-mini"><b>GS</b>IT</span>
        <span class="logo-lg">SRV & SYS & WEB</span>
    </a>

    @await Html.PartialAsync("~/ServerCorePages/RazorTemplate/Partial/_MenuBar.cshtml")
</header>
