@using EasyITCenter;
@using EasyITCenter.ServerCoreStructure;
@using ServerCorePages;

<header class="main-header">
    <a href="/ServerPortal" class="logo">
        <span class="logo-mini"><b>GS</b>IT</span>
        <span class="logo-lg" title="EasyIT-Center & EasySYSTEM-Builder - Unlimited IT Groupware Solution">EIC&ESB SOLUTION</span>
    </a>

    @await Html.PartialAsync("~/ServerCorePages/ServerPortal/Partial/_MenuBar.cshtml")
</header>
