@* @addTagHelper *, WebOptimizer.Core *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore
@addTagHelper *, Westwind.AspNetCore.Markdown

@using System.Collections
@using System.Collections.Generic
@using System.IO
@using System.Linq
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Threading.Tasks
@using EasyITCenter
@using EasyITCenter.WebClasses
@using EasyITCenter.Controllers
@using EasyITCenter.DBModel
@using EasyITCenter.Managers
@using EasyITCenter.ServerCorePages
@using EasyITCenter.ServerCoreStructure
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Westwind.AspNetCore.Markdown

@namespace ServerCorePages
@model ServerCorePages.ServerPortalModel

@{
    string path = this.Context.Request.Path.ToString().ToLower();
    string? role = this.Context.User.Claims.Where(a => a.Type == ClaimTypes.Role).FirstOrDefault()?.Value;
    string? name = this.Context.User.Claims.Where(a => a.Type == ClaimTypes.NameIdentifier).FirstOrDefault()?.Value;
    string? userPrefix = this.Context.User.Claims.Where(a => a.Type == ClaimTypes.Sid).FirstOrDefault()?.Value;
}


<div data-role="appbar" class="pos-absolute bg-darkCyan fg-white">

    <a href="#" class="app-bar-item d-block d-none-lg" id="paneToggle"><span class="mif-menu"></span></a>

    <div class="app-bar-container ml-left">
        <a href="#" class="app-bar-item" title="Help Center">
            <span class="mif-info"></span>
            <span class="ml-2 app-bar-name">Any Question?</span>
        </a>
        <a href="#" class="app-bar-item" title="Portal Tools" onclick=Gs.Objects.ShowToolPanel(); >
            <span class="mif-language"></span>
            <span class="ml-2 app-bar-name">Portal Tools</span>
        </a>
        <a href="#" class="app-bar-item" title="Favorites" onclick=Gs.Objects.ShowFavorites("BottomSheet");>
            <span class="mif-favorite"></span>
            <span class="ml-2 app-bar-name">Favorites</span>
        </a>

        <a href="#" class="app-bar-item" title="Rezervace Online" onclick=window.open("https://calendar.app.google/7GtS8wkYG9HoUVAB7");>
            <span class="mif-contacts-dialer"></span>
            <span class="ml-2 app-bar-name">Reservation Online</span>
        </a>
    </div>


    <div class="app-bar-container ml-auto" >
      @*   <a href="#" class="app-bar-item" title="Rezervace Online" onclick=window.open("https://calendar.app.google/7GtS8wkYG9HoUVAB7");>
            <span class="mif-contacts-dialer"></span>
            <span class="ml-2 app-bar-name">Reservation Online</span>
        </a> *@
    </div>



    <div class="app-bar-container ml-auto">

@*         <a href="#" class="app-bar-item">
            <span class="mif-envelop"></span>
            <span class="badge bg-green fg-white mt-2 mr-1">4</span>
        </a>
        <a href="#" class="app-bar-item">
            <span class="mif-bell"></span>
            <span class="badge bg-orange fg-white mt-2 mr-1">10</span>
        </a>
        <a href="#" class="app-bar-item">
            <span class="mif-flag"></span>
            <span class="badge bg-red fg-white mt-2 mr-1">9</span>
        </a> *@


        <div class="app-bar-container">
            <a href="#" class="app-bar-item">
                <img src="/serverportal/images/logo.png" class="avatar">
                @{ if(name != null) { <span class="ml-2 app-bar-name">@name</span>}
                else { <span class="ml-2 app-bar-name">Login</span>}}
            </a>
            <div class="user-block shadow-1" data-role="collapse" data-collapsed="true">
                <div class="bg-darkCyan fg-white p-2 text-center">
                    <img src="/serverportal/images/logo.png" class="avatar">
                    <div class="h4 mb-0">@name</div>
                    <div class="c-pointer">Why Sign Up</div>
                </div>
                <div class="bg-white d-flex flex-justify-between flex-equal-items p-2">
                    <button class="button flat-button">News</button>
                    <button class="button flat-button">Notes</button>
                    <button class="button flat-button">Friends</button>
                </div>
                <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
                @{ if(@name != null) {
                    <button class="button mr-1">Profile</button>
                    <button class="button ml-1" onclick=Gs.Behaviors.SignOut(); >Sign out</button>
                } else {
                    <button class="button mr-1" onclick=Gs.Objects.ShowLoginPage(); >Login</button>
                    <button class="button ml-1">Registration</button>
                }}
                </div>
            </div>
        </div>
        <a href="#" class="app-bar-item">
            <span class="mif-cogs" onclick=Gs.Objects.ShowMessagePanel(false) ></span>
        </a>
    </div>
</div>