@* @addTagHelper *, WebOptimizer.Core *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore
@addTagHelper *, Westwind.AspNetCore.Markdown

@using System.Collections
@using System.Collections.Generic
@using System.IO
@using System.Linq
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Threading.Tasks
@using EasyITCenter
@using EasyITCenter.WebClasses
@using EasyITCenter.Controllers
@using EasyITCenter.DBModel
@using EasyITCenter.Managers
@using EasyITCenter.ServerCorePages
@using EasyITCenter.ServerCoreStructure
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Westwind.AspNetCore.Markdown

@namespace ServerCorePages
@model ServerCorePages.ServerPortalModel

@{
    string path = this.Context.Request.Path.ToString().ToLower();
    string? role = this.Context.User.Claims.Where(a => a.Type == ClaimTypes.Role).FirstOrDefault()?.Value;
    string? name = this.Context.User.Claims.Where(a => a.Type == ClaimTypes.NameIdentifier).FirstOrDefault()?.Value;
}


    <div id="charmPanel" data-role="charms" style="width:350px !important;height:calc(100% - 45px) !important;" data-position="right" data-opacity=".5">
        <textarea id="NewMessage" data-role="textarea" data-auto-size="true" data-max-height="150" class="primary" placeholder="Zanechte mi Zprávu...."></textarea>
        <button id="SendMessageBtn" class="button success mb-4" onclick="SendMessage()">Save Message</button>
        <div id="MessageBox" class="d-block m-0 p-0" style="overflow-y: scroll;max-height: 500px;"></div>
    </div>


    @* Menu Editor *@
    <div id="monacoWeb" class="info-box" data-role="infobox" data-width='80%' data-height='800px' >
        <span class="button square closer"></span>
        <div class="info-box-content" style='overflow: auto;height: 750px;'>

            <ul data-role="materialtabs" data-expand="sm">
                <li><a href="#_menuHtml">HTML</a></li>
                <li><a href="#_menuJs">Javascript</a></li>
                <li><a href="#_menuCss">CSS</a></li>
                <li><a href="#_menuPreview">Preview</a></li>
                <li><a href="#_menuMdHelp">Help</a></li>
            </ul>

            <div class="border bd-default no-border-top p-2">
                <div id="_menuHtml">
                    <div id="monacoHTML" style='top: -50px;'></div>
                </div>
                <div id="_menuJs">
                    <div id="monacoJS" style='top: -50px;'></div>
                </div>
                <div id="_menuCss">
                    <div id="monacoCSS" style='top: -50px;'></div>
                </div>
                 <div id="_menuPreview">
                    <div id="menuPreview" style="overflow:auto;width:100%; height:700px;"></div>
                    <button class="button success" style="position: absolute;top: -50px;left: 50%;z-index: 2000;" onclick=Gs.Objects.RefreshPreview(); >Refresh</button>
                </div>
                <div id="_menuMdHelp">
                    <div style="overflow:auto;width:100%; height:700px;">
                        <iframe id="HelpEditor" src="/serverportal/addons/markdown/index.html" width="100%" height="700" frameborder="0" scrolling="yes" style="width:100%; height:100%;"></iframe>
                    </div>
                </div>
            </div>

           <select class="theme" style='position: absolute;left: 90%;z-index: 2000;top: 75px;right: 50px;'>
               <option>vs-dark</option>
                <option>vs</option>
			    <option>hc-black</option>
            </select>
        </div>
    </div>


    @* Menu Favorites *@
    <ul id="Favorites" data-role="bottomsheet" class="hidden">
        <li class="shadowed"><span class="icon mif-question" onclick="Gs.Objects.ShowFavorites('Favorites',true);Gs.Objects.GetMyQuestionList();"></span>Questions</li>
        <li class="shadowed"><span class="icon mif-download" onclick="Gs.Objects.ShowFavorites('Favorites',true);Gs.Objects.InfoboxFrameCreate('Downloads','/server-downloads');"></span>Downloads</li>
        <li class="shadowed"><span class="icon mif-github" onclick="Gs.Objects.ShowFavorites('Favorites',true);"></span>Github</li>
        <li class="shadowed"><span class="icon mif-search" onclick="Gs.Objects.ShowFavorites('Favorites',true);"></span>Search</li>
        <li class="shadowed"><span class="icon mif-import-contacts" onclick="Gs.Objects.ShowFavorites('Favorites',true);Gs.Objects.WindowIframeCreate('Function List','/serverportal/addons/fancytree/codepreview.html');"></span>Functions</li>
        <li class="shadowed"><span class="icon mif-import-export" onclick="Gs.Objects.ShowFavorites('Favorites',true);"></span>Export</li>
        <li class="divider"></li>
        <li class="shadowed"><span class="icon mif-library" onclick="Gs.Objects.ShowFavorites('Favorites',true);"></span>CodeLibrary</li>

    </ul>


@*     <!-- News Panel -->
    <div id="NewsInfoBox" class="info-box" data-role="infobox" data-type="default" data-width="800" data-height="600" style="visibility:hidden;">
        <span class="button square closer"></span>
        <div class="info-box-content" style="overflow-y:auto;">
            <div class="d-flex row ">
                <div id="NewsListBox" class="d-block m-0 p-0" style="overflow-y: scroll;height:550px;max-height: 550px;"></div>
            </div>
        </div>
    </div>

    <!-- Generator Panel -->
    <div id="TemplateGeneratorBox" class="info-box" data-role="infobox" data-type="default" data-width="800" data-height="600" style="visibility:hidden;">
        <span class="button square closer"></span>
        <div class="info-box-content" style="overflow-y:auto;">
            <div class="d-flex row ">
                <div id="NewsListBox" class="d-block m-0 p-0" style="overflow-y: scroll;height:550px;max-height: 550px;"></div>
            </div>
        </div>
    </div>
 *@
