@page "/RazorTemplate/SignOut"
@{
    Layout = "/ServerCorePages/Shared/RazorTemplateLayout.cshtml";
}
@model ServerCorePages.SignedOutModel
@{
    ViewData["Title"] = "Signed out";
}

<h2>@ViewData["Title"]</h2>
<p>
    You have successfully signed out.
</p>
