@page "/DevPortal/ForgotPasswordConfirm"
@{
    Layout = "/ServerCorePages/Server-Web/DevPortal/Shared/DevPortalLayout.cshtml";
}
@model ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset confirmation";
}

<div class="login-box-body">
    <p class="login-box-msg">Please check your email to reset your password.</p>
</div>
<!-- /.login-box-body -->
    
