@page "/ServerPortal"
@{
    Layout = "/ServerCorePages/Shared/ServerPortalLayout.cshtml";
}
@* @addTagHelper *, WebOptimizer.Core *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore
@addTagHelper *, Westwind.AspNetCore.Markdown

@using System.Collections
@using System.Collections.Generic
@using System.IO
@using System.Linq
@using System.Security.Claims
@using System.Text.RegularExpressions
@using System.Threading.Tasks
@using EasyITCenter
@using EasyITCenter.WebClasses
@using EasyITCenter.Controllers
@using EasyITCenter.DBModel
@using EasyITCenter.Managers
@using EasyITCenter.ServerCorePages
@using EasyITCenter.ServerCoreStructure
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.RazorPages
@using Westwind.AspNetCore.Markdown


@namespace ServerCorePages
@model ServerCorePages.ServerPortalModel

@{
    ViewData["Title"] = "EIC&ESB ONLINE Portal";
 }


 
 @* https://github.com/ServiceStack/ServiceStack/blob/master/src/ServiceStack/MarkdownScriptPlugin.cs *@

@{
    string path = HttpContext.Request.Path.ToString().ToLower();
    string? role = HttpContext.User.Claims.Where(a => a.Type == ClaimTypes.Role).FirstOrDefault()?.Value;
    string? name = HttpContext.User.Claims.Where(a => a.Type == ClaimTypes.NameIdentifier).FirstOrDefault()?.Value;

}


 
<div id="FrameWindow" class="content-inner h-100" style="overflow-y: auto">





</div>


