@page "/ServerPortal"
@{
    Layout = "/ServerCorePages/Shared/ServerPortalLayout.cshtml";
}
@* @addTagHelper *, WebOptimizer.Core *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore
@addTagHelper *, Westwind.AspNetCore.Markdown

@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.RazorPages

@using Westwind.AspNetCore.Markdown

@using System.IO
@using System.Linq
@using System.Collections
@using System.Collections.Generic
@using System.Text.RegularExpressions
@using System.Security.Claims
@using System.Threading.Tasks

@using EasyITCenter
@using EasyITCenter.DBModel
@using EasyITCenter.Managers
@using EasyITCenter.WebClasses
@using EasyITCenter.WebModel
@using EasyITCenter.WebDBModel
@using EasyITCenter.WebControllers
@using EasyITCenter.ServerCoreStructure
@using EasyITCenter.ServerCorePages


@namespace ServerCorePages
@model ServerCorePages.ServerPortalModel

@{
    ViewData["Title"] = "EIC&ESB ONLINE Portal";
 }

 
 @* https://github.com/ServiceStack/ServiceStack/blob/master/src/ServiceStack/MarkdownScriptPlugin.cs *@

 <style>
    form textarea {
        padding: 10px;
        width: 100%;
        height: 600px;
    }
</style>

 
<div id="content-wrapper" class="content-inner h-100" style="overflow-y: auto">


    <form action="/introspect/state">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#process-template" role="tab">process</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="process-template" role="tabpanel">
            <textarea name="Page"
             autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">{{ 'examples/introspect.html' |> includeFile }}</textarea>
        </div>
    </div>
</form>

<div id="output"></div>

{{ `<script>
$('form').ajaxPreview({ 
    dataType: 'html',
    success: function(r) {
        $("#output").html(r);
    } 
})
</script>` |> raw |> to => scripts }}


</div>


