@page "/ReportViewer/{ReportId?}"
@{
    Layout = "/ServerCorePages/Shared/ViewerReportFileLayout.cshtml";
}

@* @addTagHelper *, WebOptimizer.Core *@
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using System.Security.Claims
@using EasyITCenter.WebClasses
@using EasyITCenter.Controllers
@using EasyITCenter.DBModel
@using EasyITCenter.ServerCoreStructure
@using Microsoft.AspNetCore.Html
@using ServerCorePages
@model ServerCorePages.ViewerReportFileModel



@namespace ServerCorePages

@{

    //Standalone Load File From Url Request
    string? requestedUrlPath = ""; string fileContent = null;
    try {
        try { requestedUrlPath = ((string?)this.HttpContext.Items.FirstOrDefault(a => a.Key.ToString() == "FileValidUrl").Value); } catch { }
        string? filePath = System.IO.Path.Combine(SrvRuntime.WebRootPath) + FileOperations.ConvertSystemFilePathFromUrl(requestedUrlPath);
        fileContent = System.IO.File.ReadAllText(filePath);
    } catch { }

}

<div class="menu fg-white mt-0 pt-0">
    <a class="fg-white" href="javascript:ChangeSource('/server-integrated/server-modules/reporting/reportbuilder')">Online Designer</a>
    <a class="fg-white" href="https://www.fast-report.com/downloads/documentation" target="_blank">Online Help</a>
    <a class="fg-white" href="https://github.com/FastReports/FastReport" target="_blank">GitHub</a>
    <a class="fg-white" href="/server-integrated/server-modules/reporting/docs/Readme" target="_blank">Documentace</a>
</div>

<div class="container">
    <div class="reports">
        <div class="d-block mt-2 text-center bg-cyan">EIC&ESB Webový Prohlížeč Reportů</div>

        @foreach (var item in Model.reportList.ReportNameList.Select((value, i) => new { value, i })) {
            <a href="~/ReportViewer/ViewerReportFile?ReportId=@item.i">@item.value</a>
        }
    </div>
    <div class="webreport">  
        @await Model.reportList.WebReport.Render()
    </div>

        
	<script>
        $(document).ready(function () { googleTranslateElementInit(); });
    </script>

    <footer>&copy; @DateTime.Now.Year - GroupWare - Solution.Eu</footer>
</div>
