<header>
    <title>
        File Metadata Microservice
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</header>

<body>
    <main>
        <section class="container">
            <h1>
                File Metadata Microservice
            </h1>
            <p>
                Upload a file to receive the file size in bytes.
            </p>
            <div class="well well-lg">
                <form enctype="multipart/form-data" action="/form" method="POST">
		            <input type="file" name="item"/><br>
		            <input type="submit" value="Upload" />
	            </form>
            <div>
        </section>
    </main>
</body>
