.app-bar-container .d-menu {
    top: 100% !important;
}

.unstyled-link {
    color: inherit;
    text-decoration: inherit;
}

.footerItem0 {
    vertical-align: top;
    margin-top: 5px;
    color: gray;
}

.footerItem1 {
    vertical-align: top;
    margin-top: 5px;
    margin-left: 20px;
    color: gray;
}

footer.common-footer {
    zoom: 1;
    bottom: 0;
    left: 0;
    height: auto;
    width: 100%;
}

.linktext {
    text-decoration: none;
    color: inherit;
}

    .linktext:hover {
        text-decoration: none;
        color: inherit;
    }

.feature-bg {
    background-color: #434363;
    color: #ffffff;
}

@media all and (min-width: 768px) {
    .hero {
        padding: 160px 80px 300px;
    }

    .neb-white {
        z-index: 10;
    }

    .feature-table {
        top: -280px;
    }

    .neb-white {
        height: 360px;
    }

    .info-panel {
        height: 470px;
        margin-top: 0;
    }
}

.width100 {
    width: 100px !important;
}

.width50 {
    width: 100px !important;
}

.app-bar-menu li {
    list-style: none !important;
}

.skiptranslate { 
	/* display:none !important; */
    /*  zoom: 1.2; */
}

.audio-player {
    zoom: 0.7;
    background-color: transparent !important;
}

#\:1\.container {
    visibility: hidden !important;
}

body {
    top: 0px !important;
}

#messageHeader {
    font-size: 38px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #3e372d;
    position: relative;
}

    #messageHeader .char {
        font-weight: bold;
        display: inline-block;
        width: 48px;
        height: 56px;
        line-height: 56px;
        text-align: center;
        text-transform: uppercase;
        z-index: 2;
        opacity: .8;
    }

        #messageHeader .char.te-odd {
            background: orangered;
            transform: skewY(-20deg);
        }

        #messageHeader .char:not(.space).te-even {
            background: orange;
            transform: skewY(20deg);
        }

.video-hero .YTPOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.75;
    background: #499bea;
    /*     background: -moz-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #499bea), color-stop(100%, #798eea));
    background: -webkit-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -o-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -ms-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -webkit-linear-gradient(315deg, #499bea 0%, #798eea 100%);
    background: -o-linear-gradient(315deg, #499bea 0%, #798eea 100%);
    background: linear-gradient(135deg, #499bea 0%, #798eea 100%); */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#798eea', GradientType=1 );
    z-index: 1;
}

.supertop {
    z-index: 1000000 !important;
}

.zoom-08 {
    zoom: 0.8 !important;
}

.zoom-07 {
    zoom: 0.7 !important;
}

.zoom-05 {
    zoom: 0.5 !important;
}

#log-container {
    overflow: auto;
    height: 250px;
    font-size: 12px;
    text-wrap: pretty;
}

.log-warn {
    color: orange;
    font-size: 12px;
    text-wrap: pretty;
}

.log-error {
    color: red;
    font-size: 12px;
    text-wrap: pretty;
}

.log-info {
    color: skyblue;
    font-size: 12px;
    text-wrap: pretty;
}

.log-log {
    color: silver;
    font-size: 12px;
    text-wrap: pretty;
}

.log-warn, .log-error {
    font-weight: bold;
    font-size: 12px;
    text-wrap: pretty;
}

.opc-05 {
    opacity : 0.5 !important;

}

.w-25 {
    min-width: 25% !important;
    width: 25% !important;
    max-width: 25% !important;
}

.w-50px {
    min-width: 50px !important;
    width: 50px !important;
    max-width: 50px !important;
}

.w-100px {
    min-width: 100px !important;
    width: 100px !important;
    max-width: 100px !important;
}

.w-150px {
    min-width: 150px !important;
    width: 150px !important;
    max-width: 150px !important;
}

.w-200px {
    min-width: 200px !important;
    width: 200px !important;
    max-width: 200px !important;
}

.w-10 {
    min-width: 10% !important;
    width: 10% !important;
    max-width: 10% !important;
}

.w-15 {
    min-width: 15% !important;
    width: 15% !important;
    max-width: 15% !important;
}

.w-20 {
    min-width: 20% !important;
    width: 20% !important;
    max-width: 20% !important;
}

.w-80 {
    min-width: 79% !important;
    width: 79% !important;
    max-width: 79% !important;
}

.w-85 {
    min-width: 84% !important;
    width: 84% !important;
    max-width: 84% !important;
}

.w-90 {
    min-width: 90% !important;
    width: 90% !important;
    max-width: 90% !important;
}